//profilo nav style
@import "./Variabile.scss";

.profileNav {
  display: $flex;
  align-items: center;
  .navProfile-ul {
    display: $flex;
    align-items: center;
    list-style: $none;
    li {
      margin-right: 30px;
    }
    a {
      text-decoration: $none;
      color: $color-white;
      font-size: 20px;
    }
  }
  .profile {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
    &:hover .arrow {
      transform: rotate(180deg);
    }
    .arrow {
      position: absolute;
      left: 110%;
      top: 50%;
      width: 0;
      height: 0;
      background: transparent;
      border-top: 5px solid $color-white;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      transition: transform 0.2s;
    }
  }
  .profile img {
    width: 100%;
    border-radius: 3px;
  }
  .profile:hover .drop-down-profile {
    visibility: visible;
  }
  //on hover in profile
  .arrow-box {
    position: absolute;
    bottom: 100%;
    right: 17px;
    width: 0;
    height: 0;
    background: transparent;
    border-bottom: 10px solid $color-white;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }
  .drop-down-profile {
    visibility: hidden;
    position: absolute;
    top: 165%;
    left: -355%;
    width: 150px;
    padding: 10px;
    background: #0e0e0ece;
    transition: visibility 0.3s;
    border: 1px solid rgba(238, 238, 238, 0.671);
    .drop-down-ul {
      list-style: $none;
      display: $flex;
      flex-direction: column;

      border-bottom: 1px solid $color-white;
      a {
        margin-bottom: 5px;
        text-decoration: $none;
        font-size: 0.8rem;
        color: $color-white;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .underline-box {
    cursor: pointer;
    display: $flex;
    align-items: center;
    margin-bottom: 10px;
    &:hover span {
      text-decoration: underline;
    }
    span {
      font-size: 0.8rem;
      color: $color-white;
      margin-left: 10px;
    }
  }

  .img-box {
    width: 30px;
    height: 30px;
    border-radius: 3px;

    img {
      width: 100%;
    }
  }

  .account {
    margin-top: 10px;
    .account-ul {
      list-style: $none;
      .account-manage {
        margin-bottom: 5px;
        a {
          text-decoration: $none;
          color: $color-white;
          font-size: 0.8rem;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
