// variabile generalli
//colors
$color-white: #fff;
$red-color: #7a120c;
$stars-color: rgba(228, 176, 5, 0.904);
//display flex
$flex: flex;
//text-decoration
$none: none;
//cursor pointer
$pointer: pointer;
